@import "./sass/mixins";
@import "./sass/reset";
@import "./sass/variables";

@import url("https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Almendra+Display&display=swap");

body {
  width: 100%;
  padding-bottom: 2rem;
  font-family: "Rubik Distressed", cursive;
  background-image: $backgroundImage;
  background-attachment: fixed;
}

p {
  font-family: "Almendra Display", cursive;
}
