body {
  margin: 0;
  padding: 0 1rem 1rem;
  background: linear-gradient(
    90deg,
    rgba(250, 235, 2, 1) 0%,
    rgba(171, 230, 66, 1) 34%,
    rgba(21, 210, 138, 1) 100%
  );
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header img {
  width: 200px;
}

.container {
  background-color: orange;
}

.cards img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.cards {
  background-color: rgb(255, 255, 255, 0.5);
  transition: all 0.4s ease-in-out;
}

.cards:hover {
  box-shadow: rgba(22, 16, 190, 0.932) 0px 5px 15px;
}

.cards:hover img {
  transform: scale(1.1);
  transition: all 0.4s ease-in-out;
}
