.navbar {
  background-color: black;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.navbar a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem;
  transition: all 0.3s;
}

.navbar a:hover {
  background-color: aqua;
}

@media only screen and (max-width: 700px) {
  .navbar {
    gap: 0;
  }

  .navbar a {
    padding: 0.5rem;
    font-size: 0.8rem;
  }
}
