* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
    90deg,
    rgba(240, 143, 107) 0%,
    rgba(189, 198, 200) 100%
  );
}

header {
  padding: 4rem 0;
  text-align: center;
}

.section1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
}

.sec1-left,
.sec1-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15vh;
}

.check {
  width: 5vw;
  height: 2.2rem;
  border: none;
  border-radius: 5px;
  margin: 0 auto 2rem;
  background-color: #452944;
  color: wheat;
  cursor: pointer;
}

input {
  width: 5vw;
  height: 4rem;
  font-size: 3rem;
  margin: 0 auto 2rem;
  text-align: center;
  outline: none;
}

.current-attempt {
  font-size: 1.4rem;
  padding-bottom: 1rem;
}

.last {
  font-size: 1.3rem;
  color: crimson;
}

.sec1-middle {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
}

img {
  width: 60%;
}

h3 {
  width: 100%;
  position: absolute;
  bottom: 5rem;
  /* left: 50%; */
  font-size: 1.7rem;
  transform: translateX(-50%);
  animation: scale 1s infinite alternate linear;
}

@keyframes scale {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.3);
  }
}

.message {
  padding-bottom: 2rem;
  font-size: 1.4rem;
}

.current-score {
  padding-bottom: 2rem;
  font-size: 1.4rem;
}

.again {
  width: 8vw;
  height: 3rem;
  background-color: #141114;
  color: wheat;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pop-up {
  width: 60%;
  height: fit-content;
  padding: 2vh 3vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  background-color: rgb(206, 195, 195);
  color: #444;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 3rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.pop-up h4 {
  font-size: 1.8rem;
  padding: 2vh 0;
}

.pop-up li {
  font-size: 1.3rem;
  padding-bottom: 1rem;
}

.got {
  width: 8vw;
  height: 3rem;
  background-color: #141114;
  color: wheat;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pop-up div {
  text-align: center;
  padding: 2vh 0 0;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .pop-up {
    width: 80%;
  }
  .pop-up h4 {
    font-size: 1.6rem;
  }
  .pop-up li {
    font-size: 1.2rem;
  }
  .got {
    width: 12vw;
  }
  .anime {
    width: 80%;
  }
  h1 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.1rem;
  }
  .check {
    width: 8.5vw;
    margin-bottom: 1rem;
  }
  input {
    width: 9vw;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .sec1-left,
  .sec1-right {
    padding-top: 8vh;
  }
  .current-attempt,
  .last {
    font-size: 1.1rem;
  }
  .sec1-right p {
    font-size: 1.1rem;
    padding-bottom: 1rem;
  }
  .again {
    width: 10vw;
    height: 2rem;
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 600px) {
  .pop-up {
    width: 90%;
    height: fit-content;
    padding: 2vh 5vh;
  }
  .pop-up h4 {
    font-size: 1.4rem;
  }
  .pop-up li {
    font-size: 1.1rem;
  }
  .got {
    width: 20vw;
  }
  .anime {
    display: none;
  }
  .section1 {
    display: flex;
    flex-direction: column;
  }
  .sec1-left {
    padding: 0;
  }
  h1 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.3rem;
  }
  .check {
    width: 30vw;
    height: 3rem;
    margin-bottom: 2rem;
  }
  input {
    width: 25vw;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .sec1-right {
    padding: 3vh 0;
  }
  .again {
    width: 25vw;
    height: 3rem;
    margin-top: 1rem;
  }
}
